@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

}

/*-----------Header-----------------*/

header {
  width: 375px;
  margin: 24px auto 20px;
  padding: 0px 19px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid red;
}

.dogUser {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgb(0, 255, 42);

}

.dogUser p {


  font-weight: normal;
  font-size: 12px;
  margin-bottom: 14px;
}

.dogUser h1 {

  font-weight: bold;
  font-size: 30px;
}


header img {
  width: 58px;
  height: 61px;
  display: inline-block;
}

/*-----------aboutDog-----------------*/

.aboutDog {

  padding: 0px 19px;
  border: 1px solid rgb(0, 255, 42);
  width: 375px;
  margin: 0 auto;
}

.itens {
  width: 338px;
  height: 76px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item p {
  font-weight: normal;
  font-size: 10px;
  margin-bottom: 9px;
}

/*-----------informationDog-----------------*/
.informationDog {
  width: 375px;
  padding: 0px 19px;
  border: 1px solid rgb(0, 255, 42);
  margin: 35px auto 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cards img {
  margin-bottom: 12px;
}



.card1,
.card2 {
  background: #FF9118;
  width: 140px;
  height: 145px;
  margin-bottom: 47px;
  border-radius: 10px;

  

}

.cards a {
  text-decoration: none;
  border: 1px solid red;
  width: 140px;
  height: 145px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.cards a:hover{
  transition: 0.8s;
  background: #ff5100de;
  box-shadow: 3px 2px 3px rgba(211, 56, 9, 0.452);
}


.card2 {
  background: #313131;
}

/*-----------Menu-----------------*/

.menu {
  width: 375px;
  margin: 26px auto 13px;
  padding: 0px 19px;
  border: 1px solid rgb(0, 255, 42);

}

.menuContainer {
  width: 338px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeMenu {
  background: #797979;
  border-radius: 3px;
  width: 84px;
  height: 26px;

  display: flex;
  align-items: center;
}

.homeMenu img {
  margin: 0px 10px 0px 6px;
}

.bell {
  position: relative;
  right: 30px;
}

.homeMenu p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;

  color: #FFFFFF;
}


/*-----------END-----------------*/