@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

}

/*-----------header-----------------*/

header {
  width: 375px;
  margin: 22px auto 58px;
  padding: 0px 19px;
  
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: bold;
  font-size: 25px;
  margin-left: 13px;
}

header img {
  width: 19px;
  height: 19px;
}

/*-----------records----------------*/

.records {
  width: 375px;
  padding: 0px 19px;
  margin: 0 auto 81px;


}

.card {
  width: 338px;
  height: 76px;
  padding: 0px 22px 0px 16.6px;
  margin-bottom: 33px;


  background: #F5F5F5;
  border-radius: 10px;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  background: #ffe9ce;
  transition: 0.8s;
  box-shadow: 1px 3px 1px 1px rgba(248, 170, 25, 0.404);
}

.card h2 {
  font-weight: normal;
  font-size: 15px;
}

.card p {
  font-weight: normal;
  font-size: 10px;
}

.card span {
  color: #FF9118;

}

.card button {
  background: none;
  border: none;
  cursor: pointer;
}

/*-----------Footer-----------------*/


footer {
  width: 375px;
  height: 74px;
  margin: 0px auto;
  background: #FF9118;
  padding: 0px 19px;


  display: flex;
  align-items: center;
  justify-content: center;


}

footer button {
  width: 193px;
  height: 31px;
  background: #FFFFFF;
  border: none;
  border-radius: 50px;

  font-weight: bold;
  font-size: 15px;
  color: #FF9118;

  cursor: pointer;
}

footer button:hover {
  background: #000000;
  transition: 0.8s;
}




/*-----------end-----------------*/